<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://orderitemsreserver-vsp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bfc54d69-932d-4153-bcff-28cf67641fdb/resourcegroups/webapp_ddziadkou/providers/Microsoft.Web/sites/OrderItemsReserver-vsp</ResourceId>
    <UserName>$OrderItemsReserver-vsp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://orderitemsreserver-vsp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>